@import url("https://fonts.googleapis.com/css2?family=Lobster+Two&family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
html {
  height: 100%;
  width: 100%;
}
body {
  background-color: rgba(0, 0, 0, 0);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  padding: 0px;
  margin: 0px;
}


#tictactoe {
  height: 30%;
  width: 30%;
}

.lobster-two-regular {
  font-family: "Lobster Two", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#text {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 35px;
  font-style: normal;
  text-align: left;
}
#globe {
  margin: auto;
}
#globediv {
  text-align: center;
  background-image: url("globe.png") no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  background-position: center;
  padding-top: 100px;
  border-bottom: 2px solid white;
}
#aboutme {
  display: inline-block;
  width: 75dvw;
}
.homepage {
  flex: 1;
}
.top {
  vertical-align: middle;
  margin-top: 0px;
  padding-top: 50px;
  text-align: center;
}
#header {
  padding-bottom: 0px;
  width: 100dvw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

h2 {
  color: #ffffff;
  font-size: 4em;
  font-family: "Noto-Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  text-align: center;
  margin-top: 200px;
  
}

#galaxy {
  height: 175px;
  width: 175px;
  position: relative;
  bottom: -20px;
  display: inline-block;
  left: 150px;
}
#h2p {
  padding-top: 150px;
}
span {
  color: white;
}
#star {
  height: 90%;
  width: 90%;
}
.star2 {
  height: 90%;
  width: 90%;
  position: relative;
  right: 850px;
}

#cardholder {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.card {
  /* height: 15dvh;
  width: 15dvw; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  width: 20vw;
  height: 10vw;
  margin: 3dvw;
  border: 2px solid white;
  padding: 0 2rem 0.5rem 2rem;
  font-size: x-large;
}
.card p {
  margin-top: 0;
}
.tinted-glass {
  background-color: rgba(175, 174, 194, 0.336);
}
h1 {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 150px;
}
h3 {
  padding-top: none;
  padding-bottom: 0.1rem;
}
li a {
  font-size: xx-large;
  margin: 1vw;
  padding: 1.5vw 3vw 1.5vw 3vw;
  border: 1px solid white;
  border-radius: 10%;
}

nav {
  padding: 2vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6vw;
  position: sticky;
  top: 0;
  z-index: 1000;
}
nav a {
  flex: 1;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
}
#title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1vw;
}
#text {
  padding: 1vw;
}